<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IBookingManager" />
                <binding name="BasicHttpBinding_IBookingManager1" />
                <binding name="BasicHttpBinding_IBookingManager2" />
                <binding name="BasicHttpBinding_IBookingManager3" />
                <binding name="BasicHttpBinding_ICarManager" />
                <binding name="BasicHttpBinding_IBookingManager4" />
                <binding name="BasicHttpBinding_IBookingManager5" />
                <binding name="BasicHttpBinding_IBookingManager6" />
                <binding name="BasicHttpBinding_IBookingManager7" />
                <binding name="BasicHttpBinding_ICarManager1" />
                <binding name="BasicHttpBinding_IUserManager" />
                <binding name="BasicHttpBinding_IServiceManager" />
                <binding name="BasicHttpBinding_IReportManager" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/Delta.DeltaManager.BookingNS/BookingManager"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBookingManager"
                contract="BookingManager.IBookingManager" name="BasicHttpBinding_IBookingManager" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/Delta.DeltaManager.BookingNS/BookingManager"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBookingManager1"
                contract="BookingManager.IBookingManager" name="BasicHttpBinding_IBookingManager1" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/Delta.DeltaManager.BookingNS/BookingManager"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBookingManager2"
                contract="Booking.IBookingManager" name="BasicHttpBinding_IBookingManager2" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/Delta.DeltaManager.BookingNS/BookingManager"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBookingManager3"
                contract="ServiceReference1.IBookingManager" name="BasicHttpBinding_IBookingManager3" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/Delta.DeltaManager.CarNS/CarManager"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICarManager"
                contract="CarManager.ICarManager" name="BasicHttpBinding_ICarManager" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/Delta.DeltaManager.BookingNS/BookingManager"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBookingManager4"
                contract="Car.IBookingManager" name="BasicHttpBinding_IBookingManager4" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/Delta.DeltaManager.BookingNS/BookingManager"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBookingManager5"
                contract="ServiceReference1.IBookingManager" name="BasicHttpBinding_IBookingManager5" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/Delta.DeltaManager.BookingNS/BookingManager"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBookingManager6"
                contract="ServiceReference1.IBookingManager" name="BasicHttpBinding_IBookingManager6" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/Delta.DeltaManager.BookingNS/BookingManager"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBookingManager7"
                contract="Booking.IBookingManager" name="BasicHttpBinding_IBookingManager7" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/Delta.DeltaManager.CarNS/CarManager"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICarManager1"
                contract="Car.ICarManager" name="BasicHttpBinding_ICarManager1" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/Delta.DeltaManager.UserNS/UserManager"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserManager"
                contract="User.IUserManager" name="BasicHttpBinding_IUserManager" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/Delta.DeltaManager.ServiceNS/ServiceManager"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceManager"
                contract="Service.IServiceManager" name="BasicHttpBinding_IServiceManager" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/Delta.DeltaManager.ReportNS/ReportManager"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IReportManager"
                contract="Report.IReportManager" name="BasicHttpBinding_IReportManager" />
        </client>
    </system.serviceModel>
</configuration>